/* Updated CSS with responsive units */

/*color palette ["#40bf73", "#272737", "#fefefe"] */

/* Custom font imports */
@font-face {
  font-family: neon-ai;
  src: url(../fonts/NeonAI.ttf);
}

@font-face {
  font-family: robot-rocket;
  src: url(../fonts/RobotRocket.ttf);
}

@font-face {
  font-family: rubik;
  src: url(../fonts/Rubik-VariableFont_wght.ttf);
}

@font-face {
  font-family: cabin;
  src: url(../fonts/Cabin-VariableFont_wdth.ttf);
}

@font-face {
  font-family: raleway;
  src: url(../fonts/Raleway-VariableFont_wght.ttf);
}

/* custom scrollbar css */
*::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 0.375rem rgba(0,0,0,0.6);
	background-color: rgba(2, 13, 7, 0.8);
}

*::-webkit-scrollbar {
	width: 0.625rem;
	background-color: rgba(2, 13, 7, 0.8);
}

*::-webkit-scrollbar-thumb {
	background-image: -webkit-linear-gradient(90deg,
	                                          rgb(77, 174, 124) 0%,
                                            rgb(77, 174, 124) 25%,
								                      transparent 100%,
								                    rgba(0, 1, 0, 1) 75%,
								                      transparent);
  border-radius: 0.3125rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgba(2, 13, 7, 0.8);
  color: #2f3138;
  font-family: cabin, sans-serif;
  overflow-x: hidden;
}

a {
  color: #40bf73;
  transition: 0.5s;
}

a ,
a:active,
a:focus {
  color: #40bf73;
  outline: none;
  text-decoration: none;  
}

p {
  padding: 0;
  margin: 0 0 1.875rem 0;
  font-family: rubik, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: raleway, sans-serif;
  font-weight: 200;
  margin: 0 0 1.25rem 0;
  padding: 0;
  color: #40bf73;
}

.main-page {
  margin-top: 3.125rem;
}

.event-page:before {
  content: "";
  background: rgba(2, 13, 7, 0.8);
  position: fixed;   
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.wow {
  visibility: hidden;
}

/* preloader css */

.loader-container{
  width: 100vw;
  height: 100vh;
  background-color: #000;
  overflow: hidden;
  z-index: 9999;
  position: fixed;
}

.loader {
  width: fit-content;
  font-size: 0.875rem;
  font-family: raleway;
  line-height: 1.4;
  font-weight: 700;
  background: 
    linear-gradient(#1b1b1b 0 0) left ,
    linear-gradient(#1b1b1b 0 0) right;
  background-repeat: no-repeat;
  background-origin: border-box;
  animation: l9-0 2s infinite;
  position: fixed;
  top: 40vh;
  left: 40%;
  transition: opacity 0.2s linear;
  z-index: 9999;
  opacity: 1;
  transform: opacity 1s linear;
  transform: scale(1.5); 
}

.loader::before {
  content:"Loading...";
  color: #40bf73;
  z-index: 9999;
}

.loader::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 1.375rem;
  height: 3.75rem;
  background: 
   linear-gradient(90deg,#1b1b1b 0.25rem,#0000 0 calc(100% - 0.25rem),#1b1b1b 0) bottom /1.375rem 1.25rem,
   linear-gradient(90deg,#40bf73  0.25rem,#0000 0 calc(100% - 0.25rem),#40bf73  0) bottom 0.625rem left 0/1.375rem 0.375rem,
   linear-gradient(#40bf73 0 0) bottom 0.1875rem left 0  /1.375rem 0.5rem,
   linear-gradient(#40bf73 0 0) bottom 0   left 50%/0.5rem  1rem;
 background-repeat: no-repeat;
 animation: l9-1 2s infinite;
 z-index: 9999;
}

@keyframes l9-0{
  0%,25%    {background-size: 50% 100%}
  25.1%,75% {background-size: 0 0,50% 100%}
  75.1%,100%{background-size: 0 0,0 0}
}
@keyframes l9-1{
  25%   { background-position:bottom, bottom 3.375rem left 0,bottom 0.1875rem left 0,bottom 0 left 50%;left:0}
  25.1% { background-position:bottom, bottom 0.625rem left 0,bottom 0.1875rem left 0,bottom 0 left 50%;left:0}
  50%   { background-position:bottom, bottom 0.625rem left 0,bottom 0.1875rem left 0,bottom 0 left 50%;left:calc(100% - 1.375rem)}
  75%   { background-position:bottom, bottom 3.375rem left 0,bottom 0.1875rem left 0,bottom 0 left 50%;left:calc(100% - 1.375rem)}
  75.1% { background-position:bottom, bottom 0.625rem left 0,bottom 0.1875rem left 0,bottom 0 left 50%;left:calc(100% - 1.375rem)}
}

/* Sections Header */

.section-header {
  margin-bottom:  1.25rem;
  position: relative;
  padding-bottom: 1.25rem;
}

.section-header::before {
  content: '';
  position: absolute;
  display: block;
  width: 3.75rem;
  height: 0.3125rem;
  background: #40bf73;
  bottom: 0;
  left: calc(50% - 1.5625rem);
}

.section-header h2 {
  font-size: 2.25rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 0.625rem;
}

.section-header p {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 1.125rem;
  font-weight: 500;
  color: #1b1b1b;
}

.section-with-bg {
  background-color: #fefefe;
}

.section-header > .no-bg {
  color: #fefefe;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  height: 5.625rem;
  padding: 1.5625rem 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}

#header.header-scrolled,
#header.header-fixed {
  background-color: #1b1b1b;
  height: 4.375rem;
  padding: 0.9375rem 0;
  /* transition: all 0.5s; */
  z-index: 999;
}

#header #logo h1 {
  font-size: 2.25rem;
  margin: 0;
  padding: 0.375rem 0;
  line-height: 1;
  font-family: neon-ai, sans-serif;
  font-weight: 700;
  letter-spacing: 0.1875rem;
  text-transform: uppercase;
}

#header #logo h1 span {
  color: #40bf73;
}

#header #logo h1 a,
#header #logo h1 a:hover {
  color: #fefefe;
}

#header #logo img {
  padding: 0;
  margin: 0;
  max-height: 2.5rem;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/* Nav Menu Essentials */

.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 11.25rem;
}

/* Nav Menu Arrows */

.sf-arrows .sf-with-ul {
  padding-right: 1.875rem;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 0.9375rem;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Menu Container */

#nav-menu-container {
  float: right;
  margin: 0;
}

/* Nav Menu Styling */

.nav-menu a, #intro a {
  padding: 0.5rem;
  text-decoration: none;
  display: inline-block;
  color: rgba(202, 206, 221, 0.8);
  font-family: raleway, sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  outline: none;
}

.nav-menu .menu-active a,
.nav-menu a:hover {
  color: #fefefe;
}

.nav-menu > li {
  margin-left: 0.5rem;
}

.nav-menu > li > a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0.125rem;
  bottom: 0;
  left: 0;
  background-color: #40bf73;
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before,
.nav-menu li:hover > a:before,
.nav-menu .menu-active > a:before {
  visibility: visible;
  width: 100%;
}

.nav-menu ul {
  margin: 0.25rem 0 0 0;
  padding: 0.625rem;
  box-shadow: 0px 0px 1.875rem rgba(127, 137, 161, 0.25);
  background: #fefefe;
  border-radius: 0.1875rem;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 0.625rem;
  color: #1d1d1d;
  transition: 0.3s;
  display: block;
  font-size: 0.8125rem;
  text-transform: none;
  border-radius: 0.1875rem;
}

.nav-menu ul li:hover > a {
  background: #40bf73;
  color: #fefefe;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */

#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 0.9375rem 0.9375rem 0 0;
  border: 0;
  background: none;
  font-size: 1.5rem;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #fefefe;
  margin-right: 0.625rem;
}

/* Mobile Nav Styling */

#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 1.125rem;
  bottom: 0;
  z-index: 998;
  background-color: #1b1b1b;
  left: -16.25rem;
  width: 16.25rem;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fefefe;
  font-size: 1.0625rem;
  overflow: hidden;
  padding: 0.625rem 1.375rem 0.625rem 0.9375rem;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li a:hover {
  color: #40bf73;
}

#mobile-nav ul li li {
  padding-left: 1.875rem;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 0.9375rem;
  cursor: pointer;
  color: #fefefe;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #40bf73;
}

#mobile-nav ul .menu-item-active {
  color: #40bf73;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(2, 13, 7, 0.8);
  display: none;
}

/* Mobile Nav body classes */

body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fefefe;
}


/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/

#intro {
  width: 100vw;
  padding: 0;
  margin: 0;
  z-index: 99;
}

#intro .intro-wrapper {
  width: 100vw;
  z-index: 99;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 7rem;
  z-index: 99;
  background-color: rgba(2, 13, 7, 0.8);
}

#bg_video {
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -9999;
  background-position: center top;
}

#intro .intro-container {
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  z-index: 99 ;
  padding: 0 0 0 6.25rem;
}

#intro h1 {
  color: #fefefe;
  font-family: raleway, sans-serif;
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
}

#intro h1 span {
  color: #40bf73;
}

#intro .intro-wrapper .intro-container a{
  color: #fefefe;
  font-weight: 700;
  z-index: 9999;
}

#intro p > a {
  color: #fefefe;
  font-weight: 700;
  font-size: 1.25rem;
}

#intro .about-btn{
  font-family: raleway, sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 0.0625rem;
  display: inline-block;
  padding: 0.75rem 2rem;
  border-radius: 3.125rem;
  transition: 0.5s;
  line-height: 1;
  /* margin: 0.625rem; */
  color: #fefefe;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 0.125rem solid #40bf73;
  text-decoration: none;
}

#intro .about-btn:hover {
  background: #40bf73;
  color: #fefefe;
  text-decoration: none;
} 

/* Countdown Timer CSS */

.timer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 3.75rem;
  z-index: 99;
}

.timer {
  text-align: center;
  padding: 0.9375rem;
  border-radius: 0.9375rem;
  max-width: 25rem;
  width: 100%;
  background-color: rgba(2, 13, 7, 0.8);
  box-shadow: 0 0.25rem 0.9375rem rgba(0, 0, 0, 0.5);
}

.heading {
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 0.9375rem;
  color: #fefefe;
}

.flip-clock {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  flex-wrap: wrap;
}

.digit-container {
  background: rgba(2, 13, 7, 0.8);
  color: #fefefe;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.8rem 0.8rem;
  border-radius: 0.625rem;
  box-shadow: inset 0rem -0.3125rem 0.625rem rgba(0, 0, 0, 0.4);
  min-width: 3.75rem;
  text-align: center;
}

.label {
  margin-top: 0.3rem;
  font-size: 0.7rem;
  color: #fefefe;
}

.description {
  font-size: 0.9rem;
  color: #fefefe;
  margin-top: 0.9375rem;
}

.live-message {
  font-size: 1.25rem;
  text-align: center;
  font-weight: bold;
  color: #fefefe;
}

.live-message .msg-highlight {
  color: #40bf73;
  animation: flicker 1s infinite alternate;
}

@keyframes flicker {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

@media (max-width: 576px) {

  .heading {
      font-size: 1rem;
  }

  .digit-container {
      font-size: 1rem;
      padding: 0.6rem 0.7rem;
  }

  .flip-clock {
      gap: 0.4rem;
  }

  .description {
      font-size: 0.8rem;
  }
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/

#about {
  background: url("../img/about-bg.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  /* overflow: hidden; */
  position: relative;
  padding: 3.75rem 0 2.5rem 0;
  /* margin-top: 3.75rem; */
  color: #fefefe;
}

#about:before {
  content: "";
  background: rgba(2, 13, 7, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}

#about h2 {
  font-size: 2.25rem;
  font-weight: 200;
  margin-bottom: 0.625rem;
  color: #40bf73;
  text-align: center;
  font-family: neon-ai, sans-serif;
  /* letter-spacing: 0.3125rem; */
}

#about h3 {
  font-size: 1.75rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.625rem;
  color: #fefefe;
  text-wrap: wrap;
  margin-top: 0.625rem;
}

#about h4 {
  font-size: 1.125rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 0.625rem auto;
  color: #fefefe;
  text-wrap: nowrap;
  text-decoration: underline;
}

#about p {
  font-size: 0.875rem;
  text-align: justify;
  color: #fefefe;
}

/*--------------------------------------------------------------
# Events Section
--------------------------------------------------------------*/

#events {
  padding: 3.75rem 0 1.875rem 0;
  background: rgba(2, 13, 7, 0.8);
}

#events .event {
  position: relative;
  overflow: hidden;
  margin-bottom: 1.875rem;
}

#events .event .details {
  background: rgba(2, 13, 7, 0.8);
  position: absolute;
  height: 100%;
  left: 0;
  bottom: -70%;
  right: 0;
  text-align: center;
  padding-top: 0.625rem;
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

#events .event .details h3 {
  color: #fefefe;
  font-size: 1.375rem;
  font-weight: 600;
  margin-bottom: 0.3125rem;
}

#events .event .details h3:hover a{
  color: #40bf73;
  background-color: transparent;
  font-size: 1.375rem;
  font-weight: 600;
  margin-bottom: 0.3125rem;
  text-decoration: none ;
}

#events .event .details p {
  color: #fefefe;
  font-size: 0.9375rem;
  margin-bottom: 0.625rem;
  font-style: italic;
}

#events .event .details a {
  color: #fefefe;
  margin: 1.875rem auto;
}

#events .event .details a:hover {
  background-color: #40bf73;
  color: #fefefe;
}

#events .event:hover .details {
  bottom: 0px;
}

/* --------------------------------------------------------------
# Event Page Styling
-------------------------------------------------------------- */

#events-details {
  padding: 2.5rem 0;
  width: 100vw;
}

#events-details .details h2 {
  color: #fefefe;
  font-size: 1.75rem;
  font-weight: 700;
  margin-top: 1.25rem;
}

.primary-btn{
  font-family: raleway, sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 0.0625rem;
  display: inline-block;
  padding: 0.75rem 2rem;
  border-radius: 3.125rem;
  transition: 0.5s;
  line-height: 1;
  color: #fefefe;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 0.125rem solid #40bf73;
  text-decoration: none;
  text-align: center;
}

.primary-btn:hover {
  background: #40bf73;
  color: #fefefe;
  text-decoration: none;
}

#guidelines {
  list-style-type: decimal;
}

#guidelines .item {
  font-size: 1rem;
  word-wrap: break-word;
  color: #fefefe;
  margin: 0.3125rem auto;
}

/*--------------------------------------------------------------
# Sponsors Section
--------------------------------------------------------------*/

#sponsors {
  padding: 1.875rem 0;
  background-color: #fefefe;
}

#sponsors .sponsors-wrap {
  border-right: 0.0625rem solid #e0e5fa;
  border-left: 0.0625rem solid #e0e5fa;
}

#sponsors .sponsor-header{
  background-color: lightgrey;
  width: 100%;
  height: 1.875rem;
  padding: 0.3125rem auto;
  color: #1b1b1b;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
}

#sponsors .sponsor-logo {
  padding: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-right: 0.0625rem solid #e0e5fa;
  border-bottom: 0.0625rem solid #e0e5fa;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.5);
  height: 10rem;
}

#sponsors .sponsor-logo:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

#sponsors img {
  transition: all 0.4s ease-in-out;
}

/*--------------------------------------------------------------
# Schedule Section
--------------------------------------------------------------*/

#schedule {
  padding: 3.75rem 0 3.75rem 0;
}

#schedule .nav-tabs {
  text-align: center;
  margin: auto;
  display: block;
  border-bottom: 0;
  margin-bottom: 1.875rem;
}

#schedule .nav-tabs li {
  display: inline-block;
  margin-bottom: 0;
}

#schedule .nav-tabs a {
  border: none;
  border-radius: 3.125rem;
  font-weight: 600;
  background-color: #272737;
  color: #fefefe;
  padding: 0.625rem 6.25rem;
}

#schedule .nav-tabs a.active {
  background-color: #40bf73;
  color: #fefefe;
}

#schedule .sub-heading {
  text-align: center;
  font-size: 1.125rem;
  font-style: italic;
  margin: 0 auto 1.875rem auto;
  color: #1b1b1b;
}

#schedule .tab-pane {
  transition: ease-in-out .2s;
}

#schedule .schedule-item {
  border-bottom: 0.0625rem solid #cad4f6;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  transition: background-color ease-in-out 0.3s;
}

#schedule .schedule-item:hover {
  background-color: #fefefe;
}

#schedule .schedule-item time {
  padding-bottom: 0.3125rem;
  display: inline-block;
}

#schedule .schedule-item .event {
  width: 3.75rem;
  height: 3.75rem;
  overflow: hidden;
  border-radius: 50%;
  float: left;
  margin: 0 0.625rem 0.625rem 0;
}

#schedule .schedule-item .event img {
  height: 100%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-left: 50%;
  transition: all ease-in-out 0.3s;
}

#schedule .schedule-item h4 {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 0.3125rem;
  color : #1b1b1b;
}

#schedule .schedule-item h4 span {
  font-style: italic;
  color: #1b1b1b;
  font-weight: normal;
  font-size: 1rem;
}

#schedule .schedule-item p {
  font-style: italic;
  color: #1b1b1b;
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Venue Section
--------------------------------------------------------------*/

#venue {
  padding: 3.75rem 0;
  background: rgba(2, 13, 7, 0.8);
}

#venue .container-fluid {
  margin-bottom: 0.1875rem;
}

#venue .venue-map iframe {
  width: 100%;
  height: 100%;
  min-height: 18.75rem;
}

#venue .venue-info {
  background: url("../img/about-bg.png") top center no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

#venue .venue-info:before {
  content: "";
  background: rgba(2, 13, 7, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}

#venue .venue-info h4 {
  font-size: 1.375rem;
  font-weight: 700;
  color: #fefefe;
  text-align: center;
}

#venue .venue-info p {
  color: #fefefe;
  margin: 0.3125rem auto;
  text-align: justify;
}

/*--------------------------------------------------------------
# Gallery Section
--------------------------------------------------------------*/

#gallery {
  padding: 3.75rem;
  overflow: hidden;
  background: rgba(2, 13, 7, 0.8);
}

#gallery .owl-nav,
#gallery .owl-dots {
  margin-top: 1.5625rem;
  text-align: center;
}

#gallery .owl-item {
  border-left: 0.125rem solid #fefefe;
  border-right: 0.125rem solid #fefefe;
}

#gallery .owl-dot {
  display: inline-block;
  margin: 0 0.3125rem;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: #fefefe;
}

#gallery .owl-dot.active {
  background-color: #40bf73;
}

#gallery .gallery-carousel .owl-stage-outer {
  overflow: visible;
}

#gallery .gallery-carousel .center {
  border: 0.375rem solid #40bf73;
  margin: -0.625rem;
  box-sizing: content-box;
  padding: 0.25rem;
  background: #fefefe;
  z-index: 1;
}

/*--------------------------------------------------------------
# F.A.Q Section
--------------------------------------------------------------*/

#faq {
  padding: 3.75rem 0;
  background: rgba(2, 13, 7, 0.8);
}

#faq #faq-list {
  padding: 0;
  list-style: none;
}

#faq #faq-list li {
  border-bottom: 0.0625rem solid #fefefe;
}

#faq #faq-list a {
  padding: 1.125rem 0;
  display: block;
  position: relative;
  font-family: raleway, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  padding-right: 1.25rem;
}

#faq #faq-list i {
  font-size: 1.5rem;
  position: absolute;
  right: 0;
  top: 1rem;
}

#faq #faq-list p {
  margin-bottom: 1.25rem;
}

#faq #faq-list a.collapse {
  color: #40bf73;
}

#faq #faq-list a.collapsed {
  color: #fefefe;
}

#faq #faq-list a.collapsed i::before {
  content: "\f055" !important;
}

/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/

#contact {
  padding: 3.75rem 0;
  background: rgba(2, 13, 7, 0.8);
}

#contact .contact-info {
  margin-bottom: 1.25rem;
  text-align: center;
}

#contact .contact-info i {
  font-size: 3rem;
  display: inline-block;
  margin-bottom: 0.625rem;
  color: #40bf73;
}

#contact .contact-info address,
#contact .contact-info p {
  color: #fefefe;
}

#contact .contact-info h3 {
  font-size: 1.125rem;
  margin-bottom: 0.9375rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #40bf73;
}

#contact .contact-info a {
  color: #fefefe;
}

#contact .contact-info a:hover {
  color: #40bf73;
}

#contact .contact-address,
#contact .contact-phone,
#contact .contact-email {
  margin-bottom: 1.25rem;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  background: #1f1f1f;
  padding: 0 0 2.5rem 0;
  color: #eee;
  font-size: 0.875rem;
  z-index: 9999;
}

#footer .footer-top {
  background: #1b1b1b;
}

#footer .footer-top .footer-info {
  margin-bottom: 0.625rem;
}

#footer .footer-top .footer-info img {
  width: 9.375rem;
  height: 9.375rem;
  margin: 0 auto;
}

#footer .footer-top h4 {
  font-size: 0.875rem;
  font-weight: bold;
  color: #fefefe;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 0.75rem;
  border-bottom: 0.125rem solid #40bf73;
}

#footer .footer-top .footer-info p {
  font-size: 0.875rem;
  text-align: justify;
  font-family: raleway, sans-serif;
  color: #fefefe;
}

#footer .footer-top .footer-links {
  margin: 1.875rem 0;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 0.3125rem;
  color: #40bf73;
  font-size: 1.125rem;
}

#footer .footer-top .footer-links ul li {
  border-bottom: 0.0625rem solid #333333;
  padding: 0.625rem 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #eee;
}

#footer .footer-top .footer-links ul a:hover {
  color: #40bf73;
}

#footer .footer-top .social-links {
  margin: 1.875rem;
  width: 100%;
}

#footer .footer-top .social-links a {
  font-size: 1.125rem;
  display: inline-block;
  background: #111111;
  color: #eee;
  line-height: 1;
  padding: 0.5rem 0;
  margin-right: 0.25rem;
  border-radius: 50%;
  text-align: center;
  width: 2.25rem;
  height: 2.25rem;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #40bf73;
  color: #fefefe;
}

#footer .copyright {
  text-align: center;
  padding-top: 1.875rem;
}

#footer .credits {
  text-align: center;
  font-size: 0.8125rem;
  color: #fefefe;
}

/* Back to top button */

.back-to-top {
  position: fixed;
  display: none;
  background: #40bf73;
  color: #fefefe;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  border-radius: 50%;
  right: 1rem;
  bottom: 1rem;
  transition: background 0.1s ease-in-out;
  z-index: 99999;
}

.back-to-top i {
  font-size: 1.5rem;
  padding-top: 0.375rem;
}

.back-to-top:focus {
  background: #40bf73;
  color: #fefefe;
  outline: none;
}

.back-to-top:hover {
  background: #1b1b1b;
  color: #fefefe;
}

/*--------------------------------------------------------------
# Responsive Media Queries
--------------------------------------------------------------*/

@media (min-width: 768px) {
  #contact .contact-address,
  #contact .contact-phone,
  #contact .contact-email {
    padding: 1.25rem 0;
  }

  #contact .contact-phone {
    border-left: 0.0625rem solid #fefefe;
    border-right: 0.0625rem solid #fefefe;
  }
}

@media (min-width: 991px) {
  #schedule .sub-heading {
    width: 75%;
  }
}

@media (min-width: 1024px) {
  #intro {
    background-attachment: fixed;
  }

  #about {
    background-attachment: scroll;
  }
}

@media (max-width: 1199px) {
  #header .container {
    max-width: 100%;
  }

  .nav-menu a {
    padding: 0.5rem 0.25rem;
  }
}

@media (max-width: 991px) {

  body{
    overflow-x: hidden;
  }

  #header {
    background-color: #1b1b1b;
    height: 4.375rem;
    padding: 0.9375rem 0;
    transition: all 0.5s;
  }

  #nav-menu-container {
    display: none;
  }

  #mobile-nav-toggle {
    display: inline;
  }

  #intro .intro-wrapper {
    flex-direction: column;
    gap: 3.125rem;
    margin-top: -2rem;
    background-color: rgba(2, 13, 7, 0.8);
  }

  #intro .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #intro .logo-container img {
    margin: 0;
    padding: 0;
    width: 75%;
    height: 75%;
    z-index: 99;
  }

  #intro .intro-container {
    margin-top: 0;
    padding: 0;
  }

  #intro .intro-container h1 {
    font-size: 2.125rem;
    margin-bottom: 2rem;
  }

  #intro .intro-container p {
    font-size: 1rem;
    margin-bottom: 10rem;
  }
  
  /* #intro .intro-container .register-btn {
    margin: 2rem auto;
  } */

  #intro .intro-wrapper .timer-wrapper {
    flex: 0 1 auto;
    margin: 1rem auto;
    width: 80%;
    height: 75%;
  }

  #about {
    padding: 1rem auto;
    margin-top: 0;
  }

  #about h3 {
    font-size: 0.8rem;
  }

  #about p {
    width: 92vw;
    text-align: justify;
    font-size: 0.7rem;
  }

  #events .event .details {
    bottom: -50%;
  }

  #events .event .details a {
    margin: 0 auto;
  }

  #schedule .nav-tabs a {
    padding: 0.5rem 3.75rem;
  }

  #footer .footer-top .social-links {
    margin: 1.25rem auto;
  }
}

#faq #faq-list p {
  color: #fefefe;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 1rem;
    right: 1.25rem;
  }

  #faq #faq-list a {
    font-size: 1.125rem;
  }

  #faq #faq-list i {
    top: 0.8125rem;
  }
}

@media (max-width: 767px) {
  #schedule .nav-tabs a {
    padding: 0.5rem 3.125rem;
  }
}

@media (max-width: 574px) {
  #venue .venue-info h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  #schedule .nav-tabs a {
    padding: 0.5rem 1.875rem;
  }

  #intro .intro-wrapper {
    margin-top: -1rem;
    padding-bottom: 10rem;
  }

  #intro .intro-wrapper .intro-container {
    margin-top: -1rem;
  }

  #intro .intro-wrapper .intro-container .register-btn{
    margin-top: -1rem;
  }

  #about {
    margin-top: -3.5rem;
  }

}

@media (max-width: 400px) {
  #about {
    margin-top: 3rem;
  }
}

@media (max-width: 376px) {

  #intro .intro-wrapper .timer-wrapper .timer {
    width: 100%;
    height: 80%;
  }

  #about {
    margin-top: 10rem;
  }
}